.okenko{
    background-color: darkolivegreen;
    border: 1px solid black;
    width: 500px;
}

main{
    display: flex;
    justify-content: center;
}

.odsazeni{
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.odsazeni label{
    width: 200px;
}


div a{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    background-color: darkseagreen;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 3px;
}

div a:hover{
    background-color: rgb(178, 235, 178);
    color: black;
}
